.main {
  margin: 0 15px;
}

.main__title {
  margin: 1rem 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38px;
}

@media (min-width: 576px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .main__title {
    margin: 5rem 0 3rem;
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .main {
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title'
      'stepper-panel stepper-panel stepper-panel stepper-panel stepper-panel stepper-panel . cart cart cart cart cart'
      'form-panel form-panel form-panel form-panel form-panel form-panel . cart cart cart cart cart'
      'button-panel button-panel button-panel button-panel button-panel button-panel . cart cart cart cart cart';
  }
}

@media (min-width: 1200px) {
  .main {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .main {
    max-width: 1440px;
  }
}