footer {
  display: none;
}

@media (min-width: 768px) {
  footer {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    height: 284px;
    background: $footer;
    .footer-info-wrapper {
      margin: 0 auto;
      width: 80%;
      height: 100%;
      .footer-logo {
        width: 175.49px;
        height: 31px;
      }
      .footer-info {
        height: 100%;
        &__title {
          padding: 4rem 0 1.5rem;
          font-size: 1rem;
          font-weight: 700;
        }
        &__content--item {
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.2rem;
          color: $footer-grey;
        }
        &__content--item:hover {
          text-decoration: underline;
        }
        &__icons-wrapper {
          @include flex(row, start, center);
          padding-top: 10px;
          width: 104px;
          height: 24px;
          &--fb {
            margin-right: 27.47px;
            width: 9.33px;
            height: 20px;
          }
          &--ig {
            margin-right: 20px;
            width: 20px;
            height: 20px;
          }
          &--whatsapp {
            width: 20px;
            height: 20.1px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  footer {
    margin-top: 124px;
    .footer-info-wrapper {
      .footer-info {
        &__title {
          font-size: 1.5rem;
        }
        &__content--item {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  footer {
    margin-top: 124px;
  }
}
