@import './reset';
@import './color';
@import './size';
@import './layout';

%position-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%input-common-style {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding: 0.75rem 0 0.75rem 1rem;
  font-size: 0.75rem;
  color: var(--font-color);
  border: 1px solid var(--input-border-grey);
  background: var(--white)
  &:placeholder {
    color: var(--placeholder-grey);
  }
  &:hover,
  &:focus {
    border-color: var(--neutrals-grey);
  }
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i})
      .main__stepper-panel__container__step--circle-container::after {
      content: '#{$i}';
    }
  }
}

body {
  background: var(--bg-color);
  color: var(--font-color);
}

nav {
  position: relative;
  width: 100%;
  height: 56px;
  .hamburger {
    @extend %position-center;
    left: 17px;
    height: 15px;
    width: 20px;
  }

  .nav-wrapper {
    @include flex(column, start, center);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 394px;
    margin-top: 1rem;
    z-index: 10;
    background: var(--bg-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &__menu {
      @include flex(column, start, center);
      width: 100%;
      a {
        @include flex(row, center, center);
        padding: 1.5rem 0;
        width: 92%;
        color: var(--font-color);
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
        border-bottom: 1px solid rgba(42, 42, 42, 0.1);
      }
      a:first-child {
        padding-top: 0;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    &__icons-wrapper {
      @include flex(row, space-between, center);
      padding-top: 1.5rem;
      margin: 0 auto;
      width: 152px;
      height: 24px;
      &--search {
        width: 21px;
        height: 21px;
      }
      &--cart {
        width: 21px;
        height: 22px;
      }
      &--switch {
        width: 24px;
        height: 24px;
      }
    }
  }
  .nav__logo {
    @extend %position-center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135.86px;
    height: 24px;
  }
}

.main {
  margin: 0 15px;
}

.main__title {
  margin: 1rem 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38px;
}

.main__stepper-panel {
  width: 100%;
  height: 32px;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__step {
      @include flex(row, start, center);
      @include getStepNums(3);
      &.initial,
      &.checked,
      &.active {
        .main__stepper-panel__container__step--connect-line {
          background: var(--neutrals-black);
        }

        .main__stepper-panel__container__step--label-container {
          color: var(--font-color);
        }
      }
      &.initial,
      &.checked {
        .main__stepper-panel__container__step--circle-container {
          background: var(--black);
          border-color: var(--black);
          color: var(--white);
        }
      }
      &.active {
        .main__stepper-panel__container__step--circle-container {
          background: transparent;
          border-color: var(--font-color);
          color: var(--font-color);
        }
      }
      &.checked {
        .main__stepper-panel__container__step--circle-container::after {
          content: '\2714';
        }
      }

      &--circle-container {
        @include flex(row, center, center);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: transparent;
        color: var(--neutrals-grey);
        border: 1px solid var(--neutrals-grey);
      }
      &--connect-line {
        display: block;
        @extend %position-center;
        width: 60px;
        height: 2px;
        background: var(--pale-grey);
      }
      .first {
        left: 20%;
      }

      .second {
        right: 20%;
      }
      &--label-container {
        display: none;
        line-height: 1.5rem;
        font-weight: 400;
        color: var(--neutrals-grey);
      }
    }
  }
}

form {
  height: 100%;
  width: 100%;
}

.form-part {
  width: 100%;
  height: 100%;
  .form-title {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
  }
  .forms {
    .form-row {
      @include flex(column, start, start);
      width: 100%;
      label {
        font-size: 0.75rem;
        line-height: 1rem;
        color: var(--footer-grey);
        padding: 1.5rem 0 0.5rem 0;
      }
      input {
        @extend %input-common-style;
      }
      .select-wrapper {
        position: relative;
        width: 100%;
        z-index: 0;
        &::after {
          content: '\25BE';
          @extend %position-center;
          right: 8px;
          z-index: -1;
          color: var(--font-color);
        }
        select {
          @extend %input-common-style;
          -webkit-appearance: none;
          background: transparent;
          cursor: pointer;
          &:invalid {
            color: var(--placeholder-grey);
          }
        }
      }
    }
    .radio-wrapper {
      @include flex(row, start, center);
      border: 1px solid var(--pale-grey);
      width: 100%;
      height: 60px;
      border-radius: 4px;
      margin-top: 1.5rem;
      padding: 0 20px 0 20px;
      input {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--radio-color);
        background: var(--radio-background);

        &:checked {
          box-shadow: inset 0 0 0 5px var(--radio-check);
          background: var(--radio-check-background);
        }
      }
      .delivery-content {
        @include flex(column, center, start);
        flex: 1;
        height: 100%;
        margin-left: 20px;
        color: var(--neutrals-black);
        &__details {
          @include flex(row, space-between, center);
          width: 100%;
          &--option {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 20px;
            color: var(--neutrals-black);
            &-dhl {
              font-size: 0.875rem;
              font-weight: 700;
              line-height: 20px;
              color: var(--neutrals-black);
            }
          }
          &--freight {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 16px;
            color: var(--neutrals-black);
          }
        }
        &__time {
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 16px;
          color: var(--delivery-time);
        }
        
      }

      &:hover {
        border: 1px solid var(--font-color);
      }
    }
    .radio-wrapper.checked{
      border: 1px solid var(--font-color);
    }
  }
  .forms.stage-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    grid-template-areas:
      'title title name name name'
      'phone phone phone phone phone'
      'email email email email email'
      'city city city city city'
      'address address address address address';
    .title {
      grid-area: title;
    }
    .name {
      grid-area: name;
    }
    .phone {
      grid-area: phone;
    }
    .email {
      grid-area: email;
    }
    .city {
      grid-area: city;
    }
    .address {
      grid-area: address;
    }
  }
  .forms.stage-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    grid-template-areas:
      'cardname cardname cardname cardname'
      'cardnumber cardnumber cardnumber cardnumber'
      'validity validity cvc cvc';
    .cardname {
      grid-area: cardname;
    }
    .cardnumber {
      grid-area: cardnumber;
    }
    .validity {
      grid-area: validity;
      margin-right: 30px;
    }
    .cvc {
      grid-area: cvc;
    }
  }
}

.main__cart-container {
  @include flex(column, start, start);
  width: 100%;
  border: 1px solid var(--pale-grey);
  border-radius: 8px;
  padding: 1rem;
  margin-top: 2rem;
  background: var(--cart-container);
  &__title {
    display: none;
  }
  &__items {
    @include flex(row, start, start);
    width: 100%;
    margin-bottom: 1rem;
    &__photo-wrapper {
      width: 100px;
      height: 100px;
      border-radius: 4px;
      margin-right: 21px;
    }
    &__product-info-wrapper {
      @include flex(column, start, end);
      flex: 1;
      &--details {
        @include flex(column, start, end);
      }
      &--name {
        font-weight: 400;
        line-height: 1.5rem;
      }
      &--modifier {
        @include flex(row, space-between, center);
        width: 116px;
        height: 27px;
        margin: 18px 0 17px;
        &--qty {
          font-size: 14px;
          font-weight: 500;
          line-height: 17px;
          color: var(--neutrals-black);
        }
        .btn.btn-plus,
        .btn.btn-minus {
          position: relative;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background: var(--pale-grey);
        }
        .btn-plus::after {
          content: '\002B';
          color: var(--neutrals-black);
          @extend %position-center;
          left: 50%;
          transform: translate(-50%, -50%);

        }
        .btn-minus::after {
          content: '\2212';
          color: var(--neutrals-black);
          @extend %position-center;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &--price {
        font-weight: 700;
        line-height: 22px;
        color: var(--neutrals-black);
      }
    }
    &__freight,
    &__subtotal {
      @include flex(row, space-between, center);
      width: 100%;
      border-top: 1px solid var(--pale-grey);
      &--name {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
      &--total {
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        color: var(--neutrals-black);
      }
    }

    &__freight {
      padding: 1rem 0;
    }
    &__subtotal {
      padding-top: 1rem;
    }
  }
}

.main__button-panel {
  @include flex(row, space-between, center);
  margin-top: 2rem;
  padding: 24px 0 40px;
  border-top: 1px solid var(--border-grey);
  &__btn {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    width: 156px;
    height: 46px;
    border-radius: 8px;
  }
  .first-step {
    width: 100%;
  }

  .last-step::after {
    display: none;
  }

  .btn-outline {
    background: transparent;
    color: var(--neutrals-black);
  }
  .btn-primary {
    background: var(--pink);
    color: var(--white);
  }
  .btn-outline::before {
    content: '\2190';
    width: 24px;
    height: 24px;
    margin-right: 12.5px;
  }
  .btn-primary::after {
    content: '\2192';
    width: 24px;
    height: 24px;
    margin-left: 13.5px;
  }
}

footer {
  display: none;
}

@media (min-width: 576px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  nav {
    height: 60px;
    .hamburger {
      display: none;
    }
    .nav-container {
      display: block;
    }
    .nav-wrapper {
      @include flex(row, space-between, center);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      width: 100%;
      margin-top: 0rem;
      z-index: 0;
      background: transparent;
      padding: 0 5%;
      box-shadow: none;
      &__menu {
        @include flex(row, space-between, center);
        width: 15%;
        white-space: nowrap;
        a {
          font-size: 14px;
          margin-right: 8%;
          border-bottom: none;
        }
        a:first-child {
          padding-top: 1.5rem;
        }
      }
      &__icons-wrapper {
        padding: 0;
        margin: 0;
        width: 132px;
        &--search {
          width: 24px;
          height: 24px;
        }
        &--cart {
          width: 24px;
          height: 24px;
        }
      }
    }
    .nav__logo {
      width: 169.83px;
      height: 30px;
    }
  }

  .main__title {
    margin: 5rem 0 3rem;
    font-size: 2rem;
  }

  .main__stepper-panel {
    grid-area: stepper-panel;
    height: 24px;
    width: 100%;
    &__container {
      &__step {
        &--circle-container {
          @include flex(row, center, center);
          margin-right: 0.5rem;
          width: 24px;
          height: 24px;
        }
        .first {
          left: 23%;
        }
        .second {
          right: 23%;
        }
        &--label-container {
          display: block;
        }
      }
    }
  }

  .main__cart {
    grid-area: cart;
  }

  .main__button-panel {
    grid-area: button-panel;
    padding: 24px 0 0;
    &__btn {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      width: 174px;
    }
    .first-step {
      margin-left: auto;
      width: 174px;
    }
  }

  .main__form-panel {
    grid-area: form-panel;
  }

  .form-part {
    margin-top: 4rem;
    height: 288px;
    .forms.stage-1 {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      column-gap: 30px;
      grid-template-areas:
        'title title name name name name'
        'phone phone phone email email email'
        'city city address address address address';
    }

    .forms.stage-3 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      column-gap: 30px;
      grid-template-areas:
        'cardname cardname cardname cardname . .'
        'cardnumber cardnumber cardnumber cardnumber . .'
        'validity validity validity cvc cvc cvc';
    }
  }

  .main__cart-container {
    height: 100%;
    padding: 1.5rem;
    margin: 0;
    &__title {
      display: block;
      margin-bottom: 34px;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 22px;
    }
    &__items {
      margin-bottom: 2rem;
      &__product-info-wrapper {
        @include flex(row, space-between, start);
        &--details {
          @include flex(column, start, start);
        }
        &--modifier {
          margin: 18px 0 0;
        }

        &__freight {
          padding: 1rem 0 2rem;
        }
        &__subtotal {
          padding-top: 1rem 0;
        }
      }
    }
  }

  footer {
    display: flex;
    width: 100%;
    height: 284px;
    margin-top: 3rem;
    background: var(--footer);
    .footer-info-wrapper {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      .footer-logo {
        width: 175.49px;
        height: 31px;
      }
      .footer-info {
        height: 100%;
        &__title {
          padding: 4rem 0 1.5rem;
          font-size: 1rem;
          font-weight: 700;
        }
        &__content--item {
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.2rem;
          color: var(--footer-grey);
        }
        &__content--item:hover {
          text-decoration: underline;
        }
        &__icons-wrapper {
          @include flex(row, start, center);
          padding-top: 10px;
          width: 104px;
          height: 24px;
          &--fb {
            width: 9.33px;
            height: 20px;
            margin-right: 27.47px;
          }
          &--ig {
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
          &--whatsapp {
            width: 20px;
            height: 20.1px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    .nav-wrapper {
      padding: 0 8%;
      &__menu {
        width: 20%;
      }
    }
  }
  .main {
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title'
      'stepper-panel stepper-panel stepper-panel stepper-panel stepper-panel stepper-panel . cart cart cart cart cart'
      'form-panel form-panel form-panel form-panel form-panel form-panel . cart cart cart cart cart'
      'button-panel button-panel button-panel button-panel button-panel button-panel . cart cart cart cart cart';
  }

  footer {
    margin-top: 124px;
    .footer-info-wrapper {
      .footer-info {
        &__title {
          font-size: 1.5rem;
        }
        &__content--item {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  nav {
    width: 80%;
    margin: 0 auto;
    .nav-wrapper {
      padding: 0;
      margin: 0;
      width: 100%;
      &__menu {
        width: 26.6%;
        a {
          font-size: 1rem;
        }
      }
    }
  }

  .main {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  footer {
    margin-top: 124px;
  }
}

@media (min-width: 1400px) {
  .main {
    max-width: 1440px;
  }
}
