@import './reset';
@import './color';
@import './size';
@import './layout';

%position-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 576px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .main__cart {
    grid-area: cart;
  }
}

@media (min-width: 992px) {
  .main {
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title main-title'
      'stepper-panel stepper-panel stepper-panel stepper-panel stepper-panel stepper-panel . cart cart cart cart cart'
      'form-panel form-panel form-panel form-panel form-panel form-panel . cart cart cart cart cart'
      'button-panel button-panel button-panel button-panel button-panel button-panel . cart cart cart cart cart';
  }
}
