.main__stepper-panel {
  width: 100%;
  height: 32px;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__step {
      @include flex(row, start, center);
      @include getStepNums(3);
      &.initial,
      &.checked,
      &.active {
        .main__stepper-panel__container__step--connect-line {
          background: $neutrals-black;
        }

        .main__stepper-panel__container__step--label-container {
          color: $font-color;
        }
      }
      &.initial,
      &.checked {
        .main__stepper-panel__container__step--circle-container {
          background: $black;
          border-color: $black;
          color: $white;
        }
      }
      &.active {
        .main__stepper-panel__container__step--circle-container {
          background: transparent;
          border-color: $font-color;
          color: $font-color;
        }
      }
      &.checked {
        .main__stepper-panel__container__step--circle-container::after {
          content: '\2714';
        }
      }

      &--circle-container {
        @include flex(row, center, center);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: transparent;
        color: $neutrals-grey;
        border: 1px solid $neutrals-grey;
      }
      &--connect-line {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 2px;
        background: $pale-grey;
      }
      .first {
        left: 20%;
      }

      .second {
        right: 20%;
      }
      &--label-container {
        display: none;
        line-height: 1.5rem;
        font-weight: 400;
        color: $neutrals-grey;
      }
    }
  }
}

@media (min-width: 768px) {
  .main__stepper-panel {
    grid-area: stepper-panel;
    height: 24px;
    width: 100%;
    &__container {
      &__step {
        &--circle-container {
          @include flex(row, center, center);
          margin-right: 0.5rem;
          width: 24px;
          height: 24px;
        }
        .first {
          left: 23%;
        }
        .second {
          right: 23%;
        }
        &--label-container {
          display: block;
        }
      }
    }
  }
}
